.container {
    background-color: #04AA6D;
    display: flex;
    width: 1500px;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.stocks {
    font-size: 18px;
    width: 100%;
}


.header td {
    background-color: #04AA6D;
    padding-top: 20px;
    padding-bottom: 12px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.stocks th,
td {
    padding: 25px;
    text-align: center;
    border: 1px solid #9AA6B2;
}

.stocks tr:nth-child(even) {
    background-color: #D9EAFD;
}

.stocks tr {
    background-color: #BCCCDC;
    color: black;
    cursor: pointer
}

.stocks tr:hover {
    background-color: #9AA6B2;
}